{% extends 'base.html' %}

{% block title %}Contact Me{% endblock title %}
{% block hybrid_recommenderA %}{% endblock hybrid_recommenderA %}
{% block hybrid_recommender %}{% endblock hybrid_recommender %}

{% block main %}
<div style="height: 83vh;">
    <div class="container index rounded p-3 my-3">
        <h3 style="font-family: 'sans-serif','Prompt' ;"><strong>Contact Deatils</strong> </h3>
        <hr>
        <p><strong>Name :</strong> Omm prakash sahoo</p>
        <p>student at <strong>IIT BHU</strong> </p>
        <p><strong>Github: </strong> <a href="https://github.com/omm-prakash/Book-Recommender-System">https://github.com/omm-prakash/Book-Recommender-System</a></p>
        <p><strong>Email: </strong> ommprakash.sahoo.eee20@itbhu.ac.in</p>
    </div>
</div>
{% endblock main %}